<div class="video-container">
  <div class="thumbnail video">
    <%= image_tag video.img %>
    <div class="video-title">
     <%= video.title %>
    </div>
    <div class="meta">
      <span class="uploader"><%= video.uploader %></span>
      <span class="time"><%= distance_of_time_in_words_to_now(video.created_at) + ' ago' %></span>
    </div>
  </div>
</div>