<div class="row">
  <%= render @videos %>
</div>

<!-- video modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
 aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"></iframe>
    </div>
  </div>
</div>