- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      => pluralize(object.errors.count, 'error')
      | prohibited the user from being created

    ul
      - object.errors.full_messages.each do |msg|
        li
          = msg
