/* mixins, variables, etc. */

$error_color: red;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* content & background */

body {
  background: url('/assets/w1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:#333;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  padding: 0;
  background-color: transparent;
}

.page-container {
  padding: 0px 0 60px;
  background-color: rgba(255, 255, 255, 0.8);
}

#videos-wrapper {
  padding-left: 225px;
}

.vertical-center {
  min-height: 40%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 40vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* side-nav */

.side-nav {
  background-color: rgba(0, 0, 0, 0.7);
  li .active {
    outline: none;
    background-color: #5A0000 !important;
  }
  li a:hover {
    background-color: #5A0000 !important;
  }
}

.highlight-li {
  color: white;
}

.side-scrollable {
  height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form-horizontal .checkbox {
  padding-top: 0;
}

#error_explanation {
  color: $error_color;
  ul {
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    border-color: $error_color;
    color: $error_color;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* modals */

.modal-footer span {
  float:left;
}

/* Alerts */

.alert {
  padding: 14px
}

#alerts {
  top: 0px;
  position: fixed;
  z-index: 1031;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  text-align: center;
  display: none;
}

/* Pagination */

.list {
  padding: 0 30px;
  list-style: none;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid rgb(199, 199, 199);
  }
}

.pagination {
  margin:0;
}

/* Spinner */
#overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.78);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
}

.spinner {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -50px; /* half width of the spinner gif */
  margin-top: -50px; /* half height of the spinner gif */
  text-align:center;
  z-index:1234;
  overflow: auto;
  width: 80px;
  height: 80px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#infinite-scrolling {
  margin-top: 20px;
}