// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-container {
  width: 332px;
  float: left;

  .video {
    width: 330px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .video-title {
    height: 44px;
    font: 700 1.375em/1.136em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
}

.meta {
  .uploader {
    font-size: 13px;
    color: cadetblue;
  }
  .time {
    color: #AAA;
    font-size: 13px;
  }
}
