// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#videos-container {
  margin: 0 4px;
}

.video {
  width: 330px;
  .image-shadow {
    width: 100%;
    height: 25px;
    background: rgba(0, 0, 0, 0.57);
    margin-top: -25px;
    position: relative;
    padding: 3px 6px;
    .duration {
      color: white;
      font-weight: bold;
    }
  }
}

.thumbnail {
  float: left;
  width: 330px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-right: 8px;
  img {
    width: 100%;
  }
}

.title {
  height: 44px;
  font: 700 1.375em/1.136em "lft-etica","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.meta {
  bottom: 0px;
  width: 100%;
  .uploader {
    font-size: 13px;
    color: cadetblue;
  }
  .time {
    color: #AAA;
    font-size: 13px;
  }
  .pull-left{
    width: 80%;
  }
  .pull-right{
    width: 20%;
    margin-top: 4px;
    .vote-count {
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 4px;
      text-align: center;
      width: 55px;
      margin-top: 5px;
    }
    .vote-btn {
      font-size: 23px;
    }
  }
}

#no-videos {
  width: 602px;
  height: 100px;
  margin-top: 150px;
  background-color: rgba(0, 0, 0, 0.69);
  padding: 8px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 0 50px 1px #000000;
  box-shadow: 0 0 50px 1px #000000;
  h1 {
    text-align: center;
    color: white;
  }
}