<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <%= link_to new_video_path, class: 'btn-success highlight-li' do %>
              <span class="highlight-li"><i class="fa fa-fw fa-plus-circle"></i> Submit a video</span>
            <% end %>
        </li>
        <li>
            <a href='&fresh=1'>Fresh</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#categories"><i class="fa fa-fw fa-tags"></i> Categories<i class="fa fa-fw fa-angle-left"></i></a>
            <ul id="categories" class="collapse">
                <li>
                    <a href="/?cat=Gunfights">Gunfights</a>
                </li>
                <li>
                    <a href="/?cat=Roleplay">Role-Play</a>
                </li>
                <li>
                    <a href="/?cat=Funny">Funny</a>
                </li>
                <li>
                    <a href="/?cat=Showcase">Showcase</a>
                </li>
            </ul>
        </li>
    </ul>
</div>